<div class="module-content-header">
  <img src="https://raw.githubusercontent.com/adrianiskandar/ModuleFederationWebComponents/085f37fd04a3d058ae3bc332a2e68f9cd1698632/apps/angular-host/src/assets/angular-icon.svg" width="100px" alt="Angular Icon" />
  <h1>Angular Remote Component</h1>
  <div className="page-menu">
    <nav>
      <ul className="sub-menu">
        <li>
          <a routerLink="/angular-app">Home</a>
        </li>
        <li>
          <a href="/" className="body-small link"> Host-Home </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
